@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* GLOBALES */
body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  user-select: none;
  margin: 0;
}

/* HEADER */

.globalmenu {
  padding: 5px 0;
  background-color: #f9f9f9;
}

.menu {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  height: auto;
}

.menu a {
  margin: 0 10px;
  padding: 5px;
  color: #0d0d0d;
  text-decoration: none;
}

.menu a:not(.logo):hover {
  background-color: #ececec;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-bottom: 5px;
  border-bottom: solid 1px #0d0d0d;
}

/* MAIN INDEX */

.index {
  position: fixed;
  top: 10em;
  left: 1em;
  background-color: #f9f9f9;
  border-radius: 10px;
}

.over {
  height: 30em;
  overflow: visible scroll;
}

.index div {
  padding: 7px 15px;
}

.index div:hover {
  background-color: #ececec;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: solid 1px #0d0d0d;
}

.index a {
  text-decoration: none;
  color: #0d0d0d;
}

/* MAIN INTRODUCTION */

.titleintro,
.titlecontent {
  text-align: center;
}

.titleintro + *,
.secciones {
  margin-left: 15em;
}

.titlecontent + *,
.content {
  margin-left: 20em;
}

.secciones h2,
.content h2 {
  padding-bottom: 5px;
  border-bottom: solid 1px #0d0d0d;
}

.titleintro + *,
.secciones section p,
.titlecontent + *,
.content section p {
  text-align: justify;
  margin-right: 15px;
}

.recuadro {
  border: 1px solid black;
  padding: 1em;
  background-color: #eeeeee;
}

#parentsregex {
  width: 70em;
  height: auto;
}

/* FOOTER */

footer {
  margin: 0 0 10px 10px;
}
