@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Honk&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* ESTILOS GLOBALES */
body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  margin: 0;
}
::selection {
  background-color: black;
  color: rgb(0, 197, 0);
}

a {
  color: #0d0d0d;
  font-weight: 500;
}

a:hover {
  color: #4444bb;
}

/* ESTILOS HEADER */
header {
  position: sticky;
  top: 0;
}
.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #efefef;
  border-bottom: solid 1px #c4c4c4;
  user-select: none;
}
.menu a {
  padding: 10px;
  color: #0d0d0d;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
}
.menu a:not(.logo a):hover {
  background-color: #e0e0e0;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}

/* ESTILOS DEL LOGO */
.logo img {
  width: 50px;
  height: auto;
  transition: transform 0.3s;
  user-select: none;
}
.logo img:hover {
  transform: scale(1.2);
}

/* ESTILOS DE LOS ENLACES */
.enlaces {
  display: flex;
  flex-wrap: wrap;
}
.enlaces a {
  color: #0d0d0d;
  margin-right: 10px;
  text-decoration: none;
}

/* ESTILOS DEL BOTON RESPONSIVE */
.bars_menu {
  display: none;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 15px;
  right: 40px;
  cursor: pointer;
  z-index: 20;
}
.bars_menu span {
  display: block;
  width: 100%;
  height: 2px;
  background: #4444bb;
  margin-top: 10px;
  transform-origin: 0px 100%;
  transition: all 400ms;
}
.activeline1_bars-menu {
  transform: rotate(45deg) translate(3.5px, 1px);
}
.activeline2_bars-menu {
  opacity: 0;
  margin-left: -30px;
}
.activeline3_bars-menu {
  transform: rotate(-45deg) translate(2px, 2px);
}
.options.active {
  animation: fadeIn 0.3s forwards;
  opacity: 1;
  visibility: visible;
}
.options.out {
  animation: fadeOut 0.3s forwards;
}
@keyframes fadeIn {
  from {
    transform: translateY(-200px) scale(0.5);
  }
  to {
    transform: translateY(0) scale(1);
  }
}
@keyframes fadeOut {
  from {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
  to {
    transform: translateY(-20px) scale(0.8);
    opacity: 0;
  }
}
.menu-resp {
  display: none;
  background-color: #efefef;
}
.activemenu {
  display: block;
  background-color: #f4f4f7;
  z-index: 200;
  position: absolute;
  top: 90px;
  width: 100%;
  height: 100%;
  padding: 20px;
}

/* ESTILOS DEL MENU LATERAL */
.menu-page {
  position: fixed;
  top: 74px;
  width: 250px;
  height: 390px;
  background-color: #efefef;
  border-right: solid 1px #c4c4c4;
  border-bottom: solid 1px #c4c4c4;
  user-select: none;
  overflow: auto;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}
.menu-page ul {
  padding-inline-start: 10px;
  list-style: none;
}
.menu-page ul li {
  margin: 10px 0;
  padding: 5px;
}
.menu-page ul li a {
  color: #0d0d0d;
  text-decoration: none;
  transition: padding-left 0.2s;
  padding: 10px;
  letter-spacing: 1px;
}
.menu-page ul li a:hover {
  background-color: #e0e0e0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-right: 30px;
  padding-left: 30px;
  transition: padding-left 0.2s;
  border-left: solid 1px #0d0d0d;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  font-weight: 600;
}
/* ENLACES DEL MENU LATERAL */
[id$="-index"],
[id^="reg-"],
[id^="git-"],
[id^="mark-"],
[id^="html-"] {
  scroll-margin-top: 90px;
}

/* ESTILOS DEL CONTENIDO DE LAS PAGINAS */
.content {
  margin: 0 25px 0 300px;
  text-align: justify;
}
.recuadro-prin {
  border: solid 1px #999999;
  background-color: #f6f6f6;
  padding: 10px 30px;
  letter-spacing: 1px;
}
.main-title {
  text-align: center;
  font-family: "Honk", system-ui;
  font-size: 50px;
  user-select: none;
}
h2 {
  border-bottom: 1px solid #c4c4c4;
  padding-bottom: 10px;
  user-select: none;
}
.recuadro {
  border: 1px solid #999999;
  padding: 15px;
  background-color: #eeeeee;
  margin: 10px;
}
.negrita {
  margin-top: 10px;
  font-weight: 800;
  text-transform: uppercase;
}
.sep-lista li {
  margin-bottom: 10px;
}

.tablas {
  border-collapse: collapse;
  display: flex;
  justify-content: center;
}

.tablas td,
.tablas th {
  text-align: center;
  padding: 5px;
  border: solid 1px black;
}

/* ESTILO DE LAS IMAGENES DEL CONTENIDO */
#img-sw {
  display: block;
  margin: auto;
  width: 45%;
  height: auto;
}

/* ESTILOS DEL FOOTER */
footer {
  margin: 0 0 10px 10px;
  user-select: none;
}

/* ESTILOS PARA TABLET */
@media screen and (max-width: 1612px) {
  #img-sw {
    width: 90%;
    height: auto;
  }
  #img-sw {
    width: 60%;
  }
}

@media screen and (max-width: 1400px) {
  .menu-page {
    top: 102px;
  }
  [id$="-index"],
  [id^="reg-"],
  [id^="git-"],
  [id^="mark-"],
  [id^="html-"] {
    scroll-margin-top: 115px;
  }
}

@media screen and (max-width: 780px) {
  .menu-page {
    top: 143px;
  }
  [id$="-index"],
  [id^="reg-"],
  [id^="git-"],
  [id^="mark-"],
  [id^="html-"] {
    scroll-margin-top: 155px;
  }
}

/* ESTILOS PARA MOVILES */
@media screen and (max-width: 767px) {
  .menu .enlaces {
    display: none;
  }
  .menu-page {
    display: none;
  }
  .bars_menu {
    display: block;
  }
  header {
    position: sticky;
    top: 0;
  }
  .menu {
    box-shadow: 0 0 10px #0d0d0d;
  }
  .menu-resp {
    position: fixed;
    top: 75px;
    left: 0px;
    width: 100%;
    height: 50vh;
    overflow: auto;
    z-index: 30;
    border-bottom: solid 1px #c4c4c4;
  }
  .menu-resp a {
    display: block;
    width: 85%;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 500;
    letter-spacing: 2px;
    border: solid 1px black;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #ebebeb;
  }
  .main-title {
    font-size: 40px;
  }
  #img-sw {
    width: 90%;
    height: auto;
  }
  .content {
    margin: 25px;
  }
  #img-sw {
    width: 70%;
  }
}

@media screen and (max-width: 420px) {
  .menu-resp {
    left: -5px;
  }
}

@media screen and (max-width: 320px) {
  .menu-resp {
    left: -12px;
  }
}
