@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Honk&display=swap");

/* GLOBALES */
body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  margin: 0;
}

::selection {
  background-color: black;
  color: rgb(0, 197, 0);
}

/* HEADER */

.logo img {
  width: 50px;
  height: auto;
  transition: transform 0.3s;
  user-select: none;
}

.logo img:hover {
  transform: scale(1.2);
}

.enlaces {
  display: flex;
  flex-wrap: wrap;
}

.enlaces a {
  color: #0d0d0d;
  text-decoration: none;
  margin-left: 20px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #efefef;
  border-bottom: solid 1px #c4c4c4;
  user-select: none;
}

.menu a {
  margin: 0 10px;
  padding: 5px;
  color: #0d0d0d;
  text-decoration: none;
}

.menu a:not(.logo a):hover {
  background-color: #e0e0e0;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

/* MENU INDEX */
.menu-page {
  position: fixed;
  width: 250px;
  background-color: #efefef;
  border: solid 1px #c4c4c4;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  user-select: none;
}

.over {
  height: 700px;
  overflow: visible scroll;
}

.menu-page ul {
  padding-inline-start: 20px;
}

.menu-page ul {
  list-style: none;
}
.menu-page ul li {
  margin: 10px;
  padding: 5px;
}

.menu-page ul li a {
  color: #0d0d0d;
  text-decoration: none;
  transition: padding-left 0.2s;
  padding: 10px;
}

.menu-page ul li a:hover {
  background-color: #e0e0e0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-right: 30px;
  padding-left: 30px;
  transition: padding-left 0.2s;
  border-left: solid 1px #0d0d0d;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

/* CONTENT INDEX */
.content {
  margin: 0 25px 0 300px;
  text-align: justify;
}

.main-title {
  text-align: center;
  font-family: "Honk", system-ui;
  font-size: 50px;
  user-select: none;
}

h2 {
  border-bottom: 1px solid #c4c4c4;
  padding-bottom: 10px;
  user-select: none;
}

/* MAIN INTRODUCTION */

.recuadro {
  border: 1px solid #999999;
  padding: 15px;
  background-color: #eeeeee;
  margin: 10px 30px;
}

.negrita {
  margin-top: 10px;
  font-weight: 800;
  text-transform: uppercase;
}

/* IMAGES */

#img-parentsregex,
#img-linuxandother,
#img-comandosUnix,
#img-ls,
#img-lstail,
#img-tail,
#img-grep1,
#img-grep2,
#img-grep3,
#img-grep4,
#img-grep5,
#img-jex,
#img-jsoutput,
#img-t,
#img-n,
#img-q1,
#img-q2,
#img-q3,
#img-q4,
#img-q5,
#img-q6,
#img-q7,
#img-q8,
#img-q9,
#img-a1,
#img-a2,
#img-a3,
#img-a4,
#img-alt1,
#img-chuleta,
#img-snap1,
#img-snap2,
#img-status,
#img-giterror,
#img-gitremoteorigin,
#img-gitremotev,
#img-gitremotevrep,
#img-seturl,
#img-gitlogadog,
#img-gitcheckoutnum,
#img-gitlogadogdesp,
#img-gitlogadogreflog,
#img-gitcheckgitlog,
#img-gitmerges {
  display: block;
  margin: auto;
  width: 70%;
  height: auto;
}

/* FOOTER */

footer {
  margin: 0 0 10px 10px;
  user-select: none;
}
